<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".sessions_widget.SessionWidget2x2"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/sessions_widget_info" />
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <nav-graph android:value="@navigation/navigation_graph" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".SessionsContentProvider"
            android:authorities="it.unipd.dei.esp2023.SessionsContentProvider"
            android:exported="true"/>

        <service
            android:name=".service.TimerService"
            android:enabled="true" />


        <service
            android:name=".sessions_widget.SessionsWidgetService"
            android:enabled="true"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

    </application>

</manifest>